@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

& .slick-list { margin: 0 -30px; & .slick-slide > div { padding: 0 5px; } }

.slick-prev:before, .slick-next:before {
  line-height: 0 !important;
}

#disqus_thread { 
  color-scheme: none; 
}

#disqus_thread iframe[sandbox] {
  max-height: 0px !important;
}
